<h1> Change Password</h1>
<%= cms_form_for @cms_user, :url => {:action => :update_password} do |form| %>
  <div class='form_element' >    
    <div class='label'>
      Login
    </div>
    <div class='value'>
     <b><%= @cms_user.login %></b>
    </div>
  </div>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation, :label => 'Repeat Password' %>
  <%= form.submit 'Update Password' %>
<% end %>
